<div class="relative w-full overflow-hidden h-[40vh] sm:h-[55vh]">
  <%= image_tag 'header-foto.jpg', alt: 'logo', class: 'w-full h-full object-cover' %>
  <div class="absolute inset-0 bg-black opacity-35"></div>
  <div class="absolute top-0 left-1/2 transform -translate-x-1/2 mt-2 sm:mt-4 text-white flex flex-wrap justify-center items-center gap-1 sm:gap-2 w-full px-2 z-20">
    <%= link_to 'Home', root_path, class: 'mx-1 sm:mx-2 antic-didone-regular text-base sm:text-xl' %>
    <%= link_to 'Rsvps', new_rsvp_path, class: 'mx-1 sm:mx-2 antic-didone-regular text-base sm:text-xl' %>
    <%= link_to 'Faqs', faq_index_path, class: 'mx-1 sm:mx-2 antic-didone-regular text-base sm:text-xl' %>
    <%= link_to 'Hotels', hotels_path, class: 'mx-1 sm:mx-2 antic-didone-regular text-base sm:text-xl' %>
    <%= link_to 'Gifts', gifts_path, class: 'mx-1 sm:mx-2 antic-didone-regular text-base sm:text-xl' %>
  </div>
  <div class="absolute inset-0 flex flex-col items-center justify-center text-white w-full px-2 z-10">
    <p class="mb-1 pinyon-script-regular text-center text-base sm:text-xl">10.18.25</p>
    <h1 class="text-2xl sm:text-4xl antic-didone-regular text-center font-bold">Eric & Hayley</h1>
    <p class="mt-1 parisienne-regular text-center text-2xl sm:text-4xl">Come and celebrate with us!</p>
  </div>
</div>

